@mixin flexDirection(
  $direction,
  $justifyHorizontal: null,
  $alignVertical: null
) {
  display: flex;
  flex-direction: $direction;
  @if $justifyHorizontal != null {
    justify-content: $justifyHorizontal;
  }

  @if $alignVertical != null {
    align-items: $alignVertical;
  }
}
