$amazon-light-blue: #146eb4;
$amazon-medium-blue: #232f3e;
$amazon-dark-blue: #131921;
$amazon-alt-blue: rgb(35, 47, 62);
$amazon-light-yellow: #febd69;
$amazon-dark-yellow: #ff9900;
$amazon-light: #ccc;

$dark-blue: #094a7e;
$purple: #d4b2ff;
$green: #32d573;
$teal: #96f6ff;
$coral-red: #ff5a5f;
$forrest-green: #0c7c3c;
$light-blue: #8cd0fe;
$pink: #b16980;
$ruby: #29171a;
$spring-green: #cce6c4;
