$amazon-light-blue: #146eb4;
$amazon-medium-blue: #232f3e;
$amazon-dark-blue: #131921;
$amazon-alt-blue: rgb(35, 47, 62);
$amazon-light-yellow: #febd69;
$amazon-dark-yellow: #ff9900;
$amazon-light: #ccc;

$dark-blue: #094A7E;
$purple: #D4B2FF;
$green: #32D573;
$teal: #96F6FF;
$coral-red: #FF5A5F;
$forrest-green: #0C7C3C;
$light-blue: #8CD0FE;
$pink: #B16980;
$ruby: #29171A;
$spring-green: #CCE6C4;
