@use '@sass/_mixins.scss' as mixins;
@use '@sass/_variables.scss' as vars;

.headerBottom {
  width: 100%;
  min-width: 1320px;
  height: 40px;
  background-color: vars.$amazon-alt-blue;
  color: #ffffff;
  font-size: 1rem;
  padding: 1rem;
  display: flex;
  align-items: center;
  box-sizing: border-box;
}

.menuItem {
  display: flex;
  align-items: center;
  height: 30;
  padding: 0px 0.5rem 0px 0.5rem;
  border: 1px solid transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.menuItem:hover {
  border: 1px solid #ffffff;
}
@media (max-width: 768px) {
  .headerBottom {
    min-width: unset;
    margin-top: 10px;
    background-color: transparent;
    color: vars.$amazon-dark-blue;
    @include mixins.flexDirection(row, center, flex-start);
    overflow-x: auto;
    flex-wrap: nowrap;
    white-space: nowrap;
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
    padding: 8px 0; /* Add some padding for spacing */
  }

  .headerBottom::-webkit-scrollbar {
    display: none; /* Chrome, Safari and Opera */
  }

  .menuItem {
    background-color: rgba(204, 204, 204, 0.4);
    border-radius: 20px;
    margin: 0 4px;
    display: inline-block;
    line-height: 40px;
    text-align: center;
    padding: 0 16px;
    font-size: 14px;
    color: vars.$amazon-dark-blue;
  }
}
