.products {
  margin-left: 25px;
  padding-bottom: 50px;
  margin-right: 25px;}

@media (min-width: 769px) {
  .products {
    height: auto;
    width: auto;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .products {
    height: auto;
  }
}