@use '@sass/_mixins.scss' as mixins;
@use '@sass/_variables.scss' as vars;

.footer {
  @include mixins.flexDirection(row, center, center);
  width: calc(100% + 50px);
  height: 5rem;
  background-color: vars.$amazon-alt-blue;
  color: vars.$amazon-light;
  gap: 1rem;
  text-align: center;
}

.footer .paragraph {
  font-size: 0.875rem;
  margin: 0;
  text-align: center;
}

.footer .paragraph span {
  text-decoration: none;
  transition: color 0.25s;
}

.footer .paragraph span:hover {
  color: #ffffff;
}

.link {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.link:visited {
  color: inherit;
  text-decoration: inherit;
}

@media (max-width: 768px) {
  .footer {
    display: none;
  }
}
