.cardWrapper {
  transition: background-color 0.3s ease;
  height: 100%;
  width: 320px;
  overflow: hidden;
}

@media ( min-width: 769px) {
  .cardWrapper {
    background-color: white !important;
  }
}

@media ( max-width: 768px) {
  .cardWrapper {
    width: 100%;
  }
}
