.home {
  margin-left: 25px;
  margin-bottom: 25px;
  margin-right: 25px;
}
@media (min-width: 769px) {
  .home {
    height: auto;
    width: 100%;
    background-color: transparent;
  }
}

@media (max-width: 768px) {
  .home {
    height: 100%;
  }
}
